/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

.page {
  width: 100%;
  min-height: 100vh;
  background-color: #1d2331;
  background-image: url(../images/bg.jpg);
  background-size: contain;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

#spread-svg {
  display: none;
}

.card--corbage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -20px;
}

.card__header--corbage {
  width: 55px;
  margin-left: 6px;
  margin-right: 12px;
}

.card__img {
  display: block;
  width: 100%;
}

.card__title {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  margin-top: 17px;
}

.card__title--detail {
  font-size: 36px;
  font-family: Oswald;
}

.card__title--corbage {
  font-size: 14px;
}

.card__title:hover {
  color: rgba(255, 255, 255, 0.55);
}

.card__delete-icon {
  color: #d1333c;
  font-size: 1.5rem;
  right: 15px;
  cursor: pointer;
}

.card__delete-icon:hover {
  color: #ffffff;
}

.card__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

.card__icon {
  fill: #888d96;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  cursor: pointer;
}

.card__info {
  position: relative;
}

.card__info-inner {
  position: absolute;
  bottom: 33px;
  left: -49px;
  right: -113px;
  background-color: #1d2331;
  border-radius: 4px;
  padding: 17px;
  color: #d0d4da;
  font-size: 14px;
  line-height: 23px;
  -webkit-box-shadow: 0 2px 4px black;
  box-shadow: 0 2px 4px black;
}

.card__info-close {
  width: 16px;
  height: 16px;
  fill: #d0d4da;
  float: right;
  position: relative;
  bottom: 8px;
  left: 8px;
  cursor: pointer;
}

.card__info-title {
  font-weight: bold;
  margin-bottom: 3px;
  color: #ffffff;
}

.card__description {
  font-size: 14px;
  line-height: 21px;
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  color: #d0d4da;
  margin-bottom: 12px;
}

.card__description--detail {
  padding-top: 0;
  color: #9397a0;
}

.card__description--subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card__description--info {
  font-size: 17px;
  line-height: 29px;
}

.card__price {
  font-size: 20px;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.card__price--detail {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card__filter-price {
  font-size: 18px;
}

.card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  background-color: #6fba54;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 25px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.card__btn--detail {
  width: initial;
  height: 52px;
  font-size: 16px;
  font-weight: 700;
  padding-left: 40px;
  padding-right: 40px;
}

.card__btn--filter {
  padding: 8px 12px;
  margin-left: 4px;
  margin-right: 4px;
}

.card__btn--range {
  background-color: #ffffff;
  color: #1d2331;
  padding: 8px 12px;
  font-weight: 700;
}

.card__btn--range:hover {
  background-color: #b3b3b3;
}

.card__btn-icon {
  width: 13px;
  height: 14px;
  margin-right: 8px;
  fill: #ffffff;
}

.card__counter {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 38px;
  background-color: transparent;
  font-weight: bold;
}

.card__counter span {
  border-radius: 4px;
  font-size: 15px;
  line-height: inherit;
  background-color: #6fba54;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: inherit;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.card__counter span:nth-child(2) {
  background-color: #2d323f;
  border: 0.5px solid #3f4450;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 6px;
  margin-right: 6px;
}

.card__btn-view-more {
  color: #1d2331;
  border: none;
  border-radius: 4px;
  background-color: #a8abb0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 35px;
  line-height: 24px;
  padding: 0 40px;
  cursor: pointer;
}

.card__btn-view-more:hover {
  background-color: #92969e;
}

.header {
  color: #ffffff;
}

.header__top {
  background-color: #1d2331;
  min-height: 58px;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: inherit;
}

.header__menu-bar {
  padding: 10px 12px;
  cursor: pointer;
  display: none;
}

.header__menu-bar:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 950px) {
  .header__menu-bar {
    display: block;
  }
}

.header__menu-close {
  padding: 10px 12px;
  cursor: pointer;
  display: none;
}

.header__menu-close:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 950px) {
  .header__menu-close {
    display: block;
    position: absolute;
    left: 260px;
    top: 25px;
  }
}

.header__bar-svg {
  fill: #ffffff;
  width: 13px;
  height: 16px;
}

@media screen and (max-width: 950px) {
  .header__socials {
    display: none;
  }
}

.header__phone-svg {
  height: 18px;
  width: 18px;
  fill: #ffffff;
  margin-right: 12px;
}

.header__phone-number {
  font-size: 17px;
  line-height: 17px;
}

.header__phone-call {
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  color: inherit;
  margin-left: 22px;
  padding-top: 5px;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

.header__phone-call:hover {
  color: rgba(255, 255, 255, 0.55);
}

.header__middle-inner {
  height: 131px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .header__middle-inner {
    background-color: #1d2331;
    height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
  }
}

.header__logo-img {
  width: 90px;
}

.header__socials-svg {
  width: 17px;
  height: 17px;
  fill: #ffffff;
  margin-right: 30px;
}

.header__right-svg {
  width: 17px;
  height: 17px;
  fill: #ffffff;
  margin-left: 30px;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .header__right-svg--wishlist,
  .header__right-svg--cart {
    display: none;
  }
}

.header__total-price {
  padding-left: 4px;
}

@media screen and (max-width: 950px) {
  .header__total-price {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .navbar {
    position: fixed !important;
    top: 0;
    left: -450px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999 !important;
    height: 100vh;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    width: 100vw;
    left: -100vw;
  }
}

@media screen and (max-width: 426px) {
  .navbar {
    width: 100vw;
  }
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 950px) {
  .navbar__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #1d2331;
    -webkit-box-shadow: 0px 0 3px black;
    box-shadow: 0px 0 3px black;
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 15px;
    width: 320px;
    height: 100vh;
    margin-left: -15px;
  }
}

.navbar__item {
  margin-left: 25px;
}

.navbar__item:first-child {
  margin-left: 0;
}

@media screen and (max-width: 950px) {
  .navbar__item {
    margin-left: 0;
  }
}

.navbar__link {
  color: #ffffff;
  font-size: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 35px;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.navbar__link:hover {
  color: rgba(255, 255, 255, 0.55);
}

.navbar__link:hover .navbar__link-icon {
  fill: rgba(255, 255, 255, 0.55);
}

@media screen and (max-width: 950px) {
  .navbar__link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    height: 60px;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.navbar__link-text {
  padding-top: 10px;
  font-size: 19px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

@media screen and (max-width: 950px) {
  .navbar__link-text {
    padding-left: 10px;
  }
}

.navbar__link-icon {
  width: 40px;
  height: 40px;
  fill: #ffffff;
  -webkit-transition: opacity 0.15s linear, color 0.15s linear;
  transition: opacity 0.15s linear, color 0.15s linear;
}

.navbar__corbage {
  display: none;
}

.navbar__mobile-phone {
  display: none;
}

.navbar__mobile-phone a {
  margin-left: 0;
  display: block;
  margin-top: 10px;
}

@media screen and (max-width: 950px) {
  .navbar__mobile-phone {
    display: block;
    margin-top: 40px;
    color: #ffffff;
  }
}

.navbar__socials {
  display: none;
}

@media screen and (max-width: 950px) {
  .navbar__socials {
    display: block;
    margin-top: 40px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #1a212e;
}

@media screen and (max-width: 950px) {
  .sticky {
    top: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

@media screen and (max-width: 1050px) {
  .sticky .navbar__item {
    margin-left: 8px;
  }
}

@media screen and (max-width: 950px) {
  .sticky .navbar__item {
    margin-left: 0;
  }
}

.sticky .navbar__link {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 0;
  height: 80px;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .sticky .navbar__link {
    height: 60px;
  }
}

.sticky .navbar__link-text {
  padding-left: 10px;
}

.sticky .navbar__corbage {
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 35px;
}

@media screen and (max-width: 950px) {
  .sticky .navbar__corbage {
    display: none;
  }
}

.banner {
  width: 100%;
  position: relative;
}

.banner__slide-item {
  position: relative;
}

.banner__overlay {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media screen and (max-width: 950px) {
  .banner__content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.banner__inner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 160px;
}

@media screen and (max-width: 950px) {
  .banner__inner {
    margin-right: 0;
  }
}

.banner__icon {
  margin-top: 120px;
  width: 87px;
}

.banner__title {
  font-family: Oswald;
  line-height: 22px;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 86px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 80px;
}

@media screen and (max-width: 950px) {
  .banner__title {
    font-size: 50px;
  }
}

.banner__subtitle {
  z-index: 9;
  font-family: Oswald;
  line-height: 22px;
  font-weight: 200;
  font-size: 50px;
  font-family: Oswald;
  text-transform: uppercase;
  margin-top: 60px;
  color: #e3d7b6;
}

@media screen and (max-width: 950px) {
  .banner__subtitle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
  }
}

.banner__btn {
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
  background-color: #d1333c;
  padding: 18px 27px;
  margin-top: 90px;
  border-radius: 3px;
}

.banner__btn:hover {
  background: #1f2430;
}

.service__inner {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 200px;
}

@media screen and (max-width: 950px) {
  .service__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.service__chief {
  width: 50%;
  position: relative;
}

@media screen and (max-width: 950px) {
  .service__chief {
    height: 680px;
  }
}

.service__portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 380px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 30px;
  z-index: 1;
  width: 387px;
}

@media screen and (max-width: 950px) {
  .service__portrait {
    right: initial;
  }
}

@media screen and (max-width: 550px) {
  .service__portrait {
    width: 80px;
  }
}

.service__portrait-2 {
  position: absolute;
  z-index: 3;
  left: -20px;
  bottom: 0;
}

@media screen and (max-width: 950px) {
  .service__portrait-2 {
    left: -92px;
    bottom: 179px;
  }
}

.service__portrait-3 {
  position: absolute;
  z-index: 2;
  left: 0px;
  bottom: 20px;
}

@media screen and (max-width: 950px) {
  .service__portrait-3 {
    left: -149px;
    bottom: 226px;
  }
}

.service__portrait-4 {
  position: absolute;
  z-index: 0;
  left: 58px;
  top: 25px;
}

.service__products {
  width: 50%;
}

@media screen and (max-width: 950px) {
  .service__products {
    width: 100%;
  }
}

.service__portrait-img {
  -o-object-fit: cover;
  object-fit: cover;
}

.service__portrait-icon {
  width: 145px;
  margin-top: 30px;
}

.service__title {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 40px;
  margin-left: 20px;
}

.service__card {
  border-radius: 4px;
  padding: 13px 13px 20px 13px;
  margin: 0 20px;
  border: 0.5px solid transparent;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.service__card--view-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.05);
  height: 430px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.service__card:hover {
  border: 0.5px solid #464b53;
}

@media screen and (max-width: 950px) {
  .service__card {
    margin: 0 10px;
  }
}

.announce__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 20px;
}

@media screen and (max-width: 650px) {
  .announce__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.announce__item {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .announce__item {
    width: 100%;
  }
}

.announce__item:hover .announce__img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.announce__img {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

@media screen and (max-width: 650px) {
  .announce__img--first {
    width: 100%;
    height: 240px;
  }
}

.announce__overlay {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.announce__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.announce__inner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 20px;
}

.announce__title {
  font-family: Oswald;
  line-height: 22px;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 20px;
}

.announce__subtitle {
  line-height: 22px;
  font-weight: 200;
  font-size: 26px;
  font-family: Oswald;
  text-transform: uppercase;
  margin-top: 100px;
  color: #ffffff;
}

.announce__btn {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border-bottom: 2px solid #ffffff;
  margin-top: 30px;
  cursor: pointer;
}

.menu {
  margin-top: 80px;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu__nav-item {
  padding-bottom: 8px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #888d96;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.menu__nav-item:hover {
  color: #687386;
}

.menu__nav-item::after {
  content: '';
  display: block;
  height: 6px;
  background: url(../images/under-icon.svg) repeat;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.menu__nav-item.active {
  color: #ffffff;
}

.menu__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 560px) {
  .menu__tabs {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.menu__tabs-item {
  color: #d0d4da;
  border-radius: 4px;
  border: 0.5px solid #888d96;
  height: 34px;
  line-height: 34px;
  font-weight: bold;
  font-size: 14px;
  padding: 0 14px;
  margin: 0 5px;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .menu__tabs-item {
    margin-bottom: 10px;
  }
}

.menu__tabs-item:first-child {
  background-color: #ffffff;
  color: #1d2331;
}

.delivery {
  margin-top: 100px;
}

.delivery__title {
  color: #ffffff;
  text-align: center;
  line-height: 1.3;
  font-size: 31px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.delivery__title::after {
  content: '';
  display: block;
  height: 6px;
  background: url(../images/under-icon.svg) repeat;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.delivery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .delivery__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.delivery__item {
  color: #d0d4da;
  text-align: left;
  font-size: 17px;
  line-height: 29px;
  font-family: 'Roboto', sans-serif !important;
}

.personals {
  background-color: #1c2230;
  margin-top: 60px;
  padding-top: 55px;
  padding-bottom: 55px;
}

.personals__title {
  color: #ffffff;
  text-align: center;
  line-height: 1.1;
  font-size: 31px;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.personals__slide-inner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.personals__slide-description {
  line-height: 37px;
  font-size: 22px;
  margin-bottom: 27px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
  color: #d0d4da;
}

.personals__slide-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.personals__slide-name {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 29px;
}

.happy-hour {
  background: url(../images/parallax1.jpg) no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
}

@media screen and (max-width: 650px) {
  .happy-hour {
    height: auto !important;
    padding-bottom: 50px;
  }
}

.happy-hour__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
  .happy-hour__content {
    height: auto !important;
  }
}

.happy-hour__item {
  width: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .happy-hour__item {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .happy-hour__item {
    width: 100%;
    margin-top: 50px;
  }
}

.happy-hour__item--picture {
  position: relative;
}

.happy-hour__icon {
  width: 51px;
}

.happy-hour__time {
  font-family: Oswald;
  color: #e5d7b2;
  line-height: 20px;
  font-weight: 200;
  font-size: 29px;
  text-transform: uppercase;
  margin-top: 40px;
}

.happy-hour__title {
  font-family: Oswald;
  color: #e5d7b2;
  line-height: 43px;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 40px;
  text-align: center;
}

.happy-hour__percent {
  font-size: 55px;
  font-family: Oswald;
  color: #e5d7b2;
  line-height: 20px;
  font-weight: 700;
  margin-top: 40px;
  text-transform: uppercase;
}

.happy-hour__img1 {
  position: absolute;
  top: 20%;
  right: 20px;
  z-index: 1;
}

.happy-hour__img2 {
  z-index: 2;
}

.happy-hour__text {
  font-family: Roboto;
  color: #e5d7b2;
  line-height: 29px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.happy-hour__btn {
  background-color: #10141d;
  font-family: Roboto;
  cursor: pointer;
  color: #e5d7b2;
  width: 171px;
  height: 44px;
  line-height: 17px;
  font-weight: 500;
  font-size: 17px;
  border: 1px solid #e5d7b2;
  padding: 12px 35px;
  border-radius: 3px;
  margin-top: 40px;
}

.happy-hour__btn:hover {
  color: #000000;
  background: #e5d7b2;
}

.post__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  font-size: 31px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 95px;
}

.post__list {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.post__item {
  width: 33.333%;
  padding: 25px 15px;
}

@media screen and (max-width: 700px) {
  .post__item {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .post__item {
    width: 100%;
  }
}

.post__link {
  display: block;
}

.post__img {
  max-width: 100%;
}

.post__date {
  font-family: 'Roboto', sans-serif;
  color: #d0d4da;
  line-height: 21px;
  font-size: 14px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.post__subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 22px;
  line-height: 1.2;
}

.post__description {
  line-height: 29px;
  font-size: 17px;
  margin-bottom: 17px;
  font-family: 'Roboto', sans-serif;
  color: #d0d4da;
}

.post__read-more {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 20px;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

.info {
  background: url(../images/bg-2.jpg) no-repeat center/cover;
  margin-top: 35px;
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 65px;
  padding-bottom: 115px;
}

.info__item {
  width: 33.333%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .info__item {
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .info__item {
    width: 100%;
    margin-bottom: 30px;
  }
}

.info__img {
  margin-top: 15px;
  width: 55px;
  margin-bottom: 24px;
}

.info__subtitle {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 34px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.info__description {
  line-height: 29px;
  font-size: 17px;
  margin-bottom: 17px;
  font-family: 'Roboto', sans-serif;
  color: #d0d4da;
}

.detail {
  min-height: 100vh;
  padding-top: 90px;
  margin-bottom: 60px;
}

.detail__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 765px) {
  .detail__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.detail__picture {
  width: 40%;
  padding: 0 40px;
  text-align: center;
}

@media screen and (max-width: 765px) {
  .detail__picture {
    width: 100%;
  }
}

.detail__info {
  width: 60%;
}

@media screen and (max-width: 765px) {
  .detail__info {
    width: 100%;
  }
}

.detail__img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 765px) {
  .detail__img {
    width: initial;
    display: inline-block;
  }
}

.detail__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail__counter {
  font-family: 'Roboto', sans-serif;
  width: initial;
  height: 52px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  width: 95px;
  border: none;
  border-radius: 4px;
  background-color: #2d323f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
}

.detail__counter span {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.detail__counter span:first-child,
.detail__counter span:last-child {
  cursor: pointer;
}

.products {
  padding-bottom: 40px;
}

.products__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__filter {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
  -ms-flex: 0 0 285px;
  flex: 0 0 285px;
  padding-right: 100px;
}

@media screen and (max-width: 950px) {
  .products__filter {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    background-color: rgba(26, 33, 46, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 9999;
  }
}

@media screen and (max-width: 1200px) {
  .products__filter-content {
    padding-left: 8px;
  }
}

@media screen and (max-width: 950px) {
  .products__filter-content {
    background-color: #1d2331;
    width: 290px;
    height: 100vh;
    -webkit-box-shadow: 0px 0 3px black;
    box-shadow: 0px 0 3px black;
    padding: 70px 55px 65px 50px;
  }
}

.products__items {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .products__items {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.products__card {
  width: 31.333%;
  padding: 0 15px;
  margin-bottom: 40px;
  padding: 13px 13px 20px 13px;
  border: 0.5px solid transparent;
  border-radius: 4px;
}

@media screen and (max-width: 600px) {
  .products__card {
    width: 50%;
  }
}

@media screen and (max-width: 425px) {
  .products__card {
    width: 80%;
  }
}

.products__card:hover {
  border: 0.5px solid #464b53;
}

.products__breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
}

.products__b-item {
  font-family: 'Roboto', sans-serif;
  color: #d0d4da;
  font-size: 14px;
}

.products__b-item::after {
  content: '-';
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
}

.products__b-item:last-child::after {
  display: none;
}

.products__title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 40px;
}

.products__filter-title {
  font-size: 22px;
  margin: 0 0 15px 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.products__filter-subtotal {
  border-top: 1px solid #d0d4da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.products__filter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: -4px;
  margin-right: -4px;
  margin-top: 20px;
}

.products__filter-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: #d0d4da;
  margin-bottom: 22px;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .products__filter-sort {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.products__btn-show {
  display: none;
}

@media screen and (max-width: 950px) {
  .products__btn-show {
    display: block;
  }
}

.products__close-svg {
  width: 11px;
  height: 12px;
  margin-right: 8px;
  vertical-align: middle;
  fill: #d0d4da;
}

.products__range {
  margin-top: 30px;
  margin-bottom: 20px;
}

.error {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.error__title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 40px;
}

.loader {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loader img {
  width: 40px;
}

.footer {
  padding-top: 70px;
  padding-bottom: 60px;
  background-color: #1b212f;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 700px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.footer__address {
  width: 40%;
}

@media screen and (max-width: 700px) {
  .footer__address {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
}

.footer__logo {
  margin-bottom: 35px;
}

.footer__phone {
  color: #989da4;
  font-size: 19px;
  padding: 11px 23px;
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  border: 0.5px solid #989da4;
  border-radius: 4px;
  display: inline-block;
}

.footer__phone-svg {
  width: 15px;
  height: 15px;
  margin-right: 12px;
  fill: #989da4;
}

.footer__location {
  color: #989da4;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Roboto', sans-serif;
}

.footer__nav {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .footer__nav {
    width: 100%;
  }
}

.footer__nav-list {
  width: 33.333%;
}

@media screen and (max-width: 400px) {
  .footer__nav-list {
    width: 50%;
  }
}

@media screen and (max-width: 375px) {
  .footer__nav-list {
    width: 100%;
    margin-bottom: 20px;
  }
}

.footer__head {
  font-family: 'Roboto', sans-serif;
  color: #d0d4da;
  line-height: 1.2;
  margin: 0 0 28px 0;
  font-size: 15px;
  margin-bottom: 10px;
}

.footer__nav-item {
  margin-bottom: 20px;
}

.footer__nav-link {
  color: #989da4;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.footer__nav-link:hover {
  color: #888d96;
}

.toggle-sidebar {
  left: 0;
}

.banner-slider .slick-next.slick-arrow,
.banner-slider .slick-prev.slick-arrow {
  all: initial;
  color: transparent;
  height: 70px;
  width: 50px;
  position: absolute;
  z-index: 9000;
  cursor: pointer;
  background: url(../images/arrow.png) no-repeat;
  background-position: center center;
  background-size: contain;
}

.banner-slider .slick-next.slick-arrow:hover,
.banner-slider .slick-prev.slick-arrow:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.banner-slider .slick-prev.slick-arrow {
  right: 20px;
  top: 45%;
}

.banner-slider .slick-next.slick-arrow {
  left: 20px;
  top: 45%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.service-slider .slick-next.slick-arrow,
.service-slider .slick-prev.slick-arrow {
  all: initial;
  color: transparent;
  border: 0.5px solid #404751;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 9000;
  border-radius: 50%;
  cursor: pointer;
  background: url(../images/arrow.png) no-repeat;
  background-position: center center;
  background-size: contain;
}

.service-slider .slick-next.slick-arrow:hover,
.service-slider .slick-prev.slick-arrow:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.service-slider .slick-prev.slick-arrow {
  right: 20px;
  top: -77px;
}

@media screen and (max-width: 550px) {
  .service-slider .slick-prev.slick-arrow {
    top: 38%;
    right: 0;
  }
}

.service-slider .slick-next.slick-arrow {
  right: 90px;
  top: -77px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media screen and (max-width: 550px) {
  .service-slider .slick-next.slick-arrow {
    top: 38%;
    left: 0;
  }
}

.menu__slider .slick-next.slick-arrow,
.menu__slider .slick-prev.slick-arrow {
  all: initial;
  color: transparent;
  border: 0.5px solid #8d7d7d;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 9000;
  border-radius: 50%;
  cursor: pointer;
  background: url(../images/arrow.png) no-repeat;
  background-position: center center;
  background-size: contain;
}

.menu__slider .slick-prev.slick-arrow {
  left: -40px;
  top: 40%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media screen and (max-width: 1250px) {
  .menu__slider .slick-prev.slick-arrow {
    left: -10px;
  }
}

.menu__slider .slick-next.slick-arrow {
  right: -40px;
  top: 40%;
}

@media screen and (max-width: 1250px) {
  .menu__slider .slick-next.slick-arrow {
    right: -10px;
  }
}

.personals__slider .slick-next.slick-arrow,
.personals__slider .slick-prev.slick-arrow {
  all: initial;
  color: transparent;
  border: 1px solid #cac6c6;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 900;
  border-radius: 50%;
  cursor: pointer;
  background: url(../images/arrow.png) no-repeat;
  background-position: center center;
  background-size: contain;
}

.personals__slider .slick-prev.slick-arrow {
  left: 0px;
  top: 40%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.personals__slider .slick-next.slick-arrow {
  right: 0px;
  top: 40%;
}

.products__filter-content .input-range__track {
  background: #5e646f;
  height: 3px;
}

.products__filter-content .input-range__slider {
  border: 3px solid #6fba54;
  background-color: #1d2331;
  border-radius: 100%;
}

.products__filter-content .input-range__label--min,
.products__filter-content .input-range__label--max {
  display: none;
}

.products__filter-content .input-range__label-container {
  font-size: 12px;
  bottom: 5px;
  display: none;
}

.products__filter-content .input-range__label {
  color: #aaaaaa;
  font-family: 'Helvetica Neue', san-serif;
  font-size: 0.8rem;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  white-space: nowrap;
  top: 15px;
  display: none;
}
/*# sourceMappingURL=styles.css.map */
